@model UCG.Models.TbProyecto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbProyecto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoTotalDestinado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoTotalDestinado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdActaNavigation)
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller="TbActums" asp-action="Details" asp-route-id="@Model.IdActaNavigation.IdActa">
            @Html.DisplayFor(model => model.IdActaNavigation.NumeroActa)
            </a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsociacionNavigation)
        </dt>
        <dd class = "col-sm-10">
          <a asp-controller="TbAsociacions" asp-action="Details" asp-route-id="@Model.IdAsociacionNavigation.IdAsociacion">
            @Html.DisplayFor(model => model.IdAsociacionNavigation.Nombre)
            </a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsociadoNavigation)
        </dt>
        <dd class = "col-sm-10">
			<a asp-controller="TbAsociadoes" asp-action="Details" asp-route-id="@Model.IdAsociadoNavigation.IdAsociado">
            @Html.DisplayFor(model => model.IdAsociadoNavigation.Nombre)
                </a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProyecto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
