@model UCG.Models.TbMovimiento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbMovimiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsociado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAsociado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMovimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMovimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuenteFondo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuenteFondo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProyecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProyecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MetdodoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MetdodoPago)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaMovimiento)
        </dt>
        <dd class = "col-sm-10">
            @Model.FechaMovimiento.ToString("dd/MM/yyyy")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubtotalMovido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubtotalMovido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontoTotalMovido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontoTotalMovido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdActaNavigation)
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller="TbActums" asp-action="Details" asp-route-id="@Model.IdActaNavigation.IdActa">
            @Html.DisplayFor(model => model.IdActaNavigation.NumeroActa)
            </a>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsociacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            <a asp-controller="TbAsociacions" asp-action="Details" asp-route-id="@Model.IdAsociacionNavigation.IdAsociacion">
            @Html.DisplayFor(model => model.IdAsociacionNavigation.IdAsociacion)
                </a>    
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoriaMovimientoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoriaMovimientoNavigation.IdCategoriaMovimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCuentaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCuentaNavigation.IdCuenta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProveedorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProveedorNavigation.IdProveedor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMovimiento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
