@model IEnumerable<UCG.Models.TbMovimiento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAsociado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuenteFondo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProyecto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetdodoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubtotalMovido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotalMovido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdActaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAsociacionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoriaMovimientoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCuentaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProveedorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAsociado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMovimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuenteFondo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProyecto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetdodoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaMovimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubtotalMovido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoTotalMovido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdActaNavigation.IdActa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAsociacionNavigation.IdAsociacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaMovimientoNavigation.IdCategoriaMovimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCuentaNavigation.IdCuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProveedorNavigation.IdProveedor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMovimiento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdMovimiento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMovimiento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
