
@model IEnumerable<UCG.Models.TbAsociacion>

@{
    ViewData["Title"] = "Asociaones";
}

<head>
    <!-- DataTables CSS con Bootstrap -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Tu CSS personalizado -->
    <link rel="stylesheet" href="~/css/Tables.css">
</head>

<!-- Contenedor principal que engloba todo -->
<div class="table-container">
    <!-- Encabezado y botón Create dentro del contenedor -->
    <div class="table-header center-header">
        <div style="width: 100%; text-align: center;">
            <h1 class="table-title" style="margin-bottom: 15px;">Asociaciones</h1>
            <div class="table-actions">

                <a asp-controller="Home" asp-action="Union" class="btn btn-secondary">
                    <i class="fa-solid fa-arrow-rotate-left"></i>
                </a>

                <a asp-action="Create" class="btn btn-create">
                    <i class='bx bx-plus'></i> Crear Nueva Asociación
                </a>
            </div>
        </div>
    </div>

    <!-- Tabla con sus elementos -->
    <table id="miTabla" class="universal-table display compact">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CedulaJuridica)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CodigoRegistro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaConstitucion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fax)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Correo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Provincia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Canton)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Distrito)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pueblo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th class="text-end">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr data-id="@item.IdAsociacion">
                    <td data-label="Cédula Jurídica">
                        @Html.DisplayFor(modelItem => item.CedulaJuridica)
                    </td>
                    <td data-label="Código Registro">
                        @Html.DisplayFor(modelItem => item.CodigoRegistro)
                    </td>
                    <td data-label="Nombre">
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td data-label="Fecha Constitución">
                        @item.FechaConstitucion.ToString("yyyy-MM-dd")
                    </td>
                    <td data-label="Teléfono">
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td data-label="Fax">
                        @Html.DisplayFor(modelItem => item.Fax)
                    </td>
                    <td data-label="Correo">
                        @Html.DisplayFor(modelItem => item.Correo)
                    </td>
                    <td data-label="Provincia">
                        @Html.DisplayFor(modelItem => item.Provincia)
                    </td>
                    <td data-label="Cantón">
                        @Html.DisplayFor(modelItem => item.Canton)
                    </td>
                    <td data-label="Distrito">
                        @Html.DisplayFor(modelItem => item.Distrito)
                    </td>
                    <td data-label="Pueblo">
                        @Html.DisplayFor(modelItem => item.Pueblo)
                    </td>
                    <td data-label="Descripción">
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td data-label="Estado">
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>

                    <td class="action-links text-end">
                        <a asp-action="Edit" asp-route-id="@item.IdAsociacion" class="btn btn-secondary " title="Editar">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        @* <a asp-action="Details" asp-route-id="@item.IdAsociacion" class="btn btn-secondary" title="Detalles">
                    <i class='bx bxs-detail'></i>
                    </a> *@
                        <a asp-action="Delete" asp-route-id="@item.IdAsociacion" class="btn btn-create" title="Eliminar">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>



@section Scripts {
    @{
        <!-- Tu script separado -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- DataTables JS -->
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

        <script src="~/js/AsociacionScripts/AsociacionIndex.js"></script>
    }
}
