@using UCG.Models.ViewModels;
@using static UCG.Models.TbAsociado;
@model AsociadoViewModel

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center mb-4">Crear Asociado</h1>
<hr />

<div id="tempDataSwal"
     data-success="@TempData["SuccessMessage"]"
     data-error="@TempData["ErrorMessage"]"
     data-asociacion="@ViewData["IdAsociacion"]">
</div>

<form asp-action="Create">
    <div class="row g-4">
        <!-- Card 1: Información General -->
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header">
                    Información General
                </div>
                <div class="card-body">
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="mb-3">
                        <label asp-for="IdAsociacion" class="form-label"></label>
                        @if (ViewBag.EsAdmin == true)
                        {
                            <input type="text" class="form-control" value="@ViewBag.Nombre" disabled />
                            <input type="hidden" asp-for="IdAsociacion" value="@ViewBag.IdAsociacion" />
                        }
                        else
                        {
                            <select asp-for="IdAsociacion" class="form-select" asp-items="ViewBag.IdAsociacion">
                                <option disabled selected>Seleccione una asociación</option>
                            </select>
                        }
                        <span asp-validation-for="IdAsociacion" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="IdUsuario" class="form-label"></label>
                        <select asp-for="IdUsuario" class="form-select" asp-items="ViewBag.IdUsuario">
                            <option disabled selected>Seleccione un usuario</option>
                        </select>
                        <span asp-validation-for="IdUsuario" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Nacionalidad" class="form-label"></label>
                        <select asp-for="Nacionalidad" class="form-select" asp-items="Html.GetEnumSelectList<NacionalidadDeAsociado>()">
                            <option disabled selected>Seleccione una nacionalidad</option>
                        </select>
                        <span asp-validation-for="Nacionalidad" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Sexo" class="form-label"></label>
                        <select asp-for="Sexo" class="form-select" asp-items="Html.GetEnumSelectList<SexoDeAsociado>()">
                            <option disabled selected>Seleccione un sexo</option>
                        </select>
                        <span asp-validation-for="Sexo" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="EstadoCivil" class="form-label"></label>
                        <select asp-for="EstadoCivil" class="form-select" asp-items="Html.GetEnumSelectList<EstadoCivilDeAsociado>()">
                            <option disabled selected>Seleccione un estado civil</option>
                        </select>
                        <span asp-validation-for="EstadoCivil" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Estado" class="form-label"></label>
                        <select asp-for="Estado" class="form-select" asp-items="Html.GetEnumSelectList<EstadoDeAsociado>()">
                            <option disabled selected>Seleccione un estado</option>
                        </select>
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>

                   
                </div>
            </div>
        </div>

        <!-- Card 2: Detalles Personales -->
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header">
                    Detalles Personales
                </div>
                <div class="card-body">

                    <div class="mb-3">
                        <label asp-for="Cedula" class="form-label"></label>
                        <input asp-for="Cedula" class="form-control" />
                        <span asp-validation-for="Cedula" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="FechaTexto" class="form-label"></label>
                        <input asp-for="FechaTexto" class="form-control" type="date" />
                        <span asp-validation-for="FechaTexto" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Nombre" class="form-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Apellido1" class="form-label"></label>
                        <input asp-for="Apellido1" class="form-control" />
                        <span asp-validation-for="Apellido1" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Apellido2" class="form-label"></label>
                        <input asp-for="Apellido2" class="form-control" />
                        <span asp-validation-for="Apellido2" class="text-danger"></span>
                    </div>

                 

                    <div class="mb-3">
                        <label asp-for="Telefono" class="form-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Correo" class="form-label"></label>
                        <input asp-for="Correo" class="form-control" />
                        <span asp-validation-for="Correo" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Direccion" class="form-label"></label>
                        <input asp-for="Direccion" class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>

    <!-- Botones -->
    <div class="mt-4">
        <input type="submit" value="Guardar" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-secondary ms-2">Volver</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/AsociadoScripts/AsociadoFormHandler.js"></script>
}
