@model UCG.Models.TbUsuario

@{
    ViewData["Title"] = "Detalle del Usuario";
}

<h1 class="text-center mb-4">Detalle del Usuario</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card shadow">
            <div class="card-header">
                Información del Usuario
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-4 mb-3">Nombre de Usuario</dt>
                    <dd class="col-sm-8 mb-3">@Model.NombreUsuario</dd>

                    <dt class="col-sm-4 mb-3">Asociación</dt>
                    <dd class="col-sm-8 mb-3">
                        @if (Model.IdAsociacionNavigation != null)
                        {
                            <a asp-controller="TbAsociacions" asp-action="Details" asp-route-id="@Model.IdAsociacionNavigation.IdAsociacion">
                                @Model.IdAsociacionNavigation.Nombre
                            </a>
                        }
                        else
                        {
                            <span class="text-muted">Sin asociación</span>
                        }
                    </dd>

                    <dt class="col-sm-4 mb-3">Contraseña</dt>
                    <dd class="col-sm-8 mb-3">@Model.Contraseña</dd>

                    <dt class="col-sm-4 mb-3">Rol</dt>
                    <dd class="col-sm-8 mb-3">@Model.Rol</dd>

                    <dt class="col-sm-4 mb-3">Correo</dt>
                    <dd class="col-sm-8 mb-3">@Model.Correo</dd>

                    <dt class="col-sm-4 mb-3">Estado</dt>
                    <dd class="col-sm-8 mb-3">@Model.Estado</dd>
                </dl>
                <div class="d-flex justify-content-between mt-4">
                    <a asp-action="Edit" asp-route-id="@Model?.IdUsuario" class="btn btn-warning">Editar</a>
                    <a asp-action="Index" class="btn btn-secondary ms-2">Volver al listado</a>
                </div>
            </div>
        </div>
    </div>
</div>
