@model IEnumerable<UCG.Models.TbUsuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table id="miTabla" class="table table-striped table-hover display">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NombreUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contraseña)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rol)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Correo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
                <tr data-id="@item.IdUsuario">
                <td>
                    @Html.DisplayFor(modelItem => item.NombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contraseña)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdUsuario">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdUsuario">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdUsuario">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

<!-- DataTables CSS con Bootstrap -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

@section Scripts {
    @{
        <!-- Tu script separado -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- DataTables JS -->
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
        <script src="~/js/UsuarioScripts/UsuarioIndex.js"></script>

    }
}
