@model IEnumerable<UCG.Models.TbFondosRecaudadosActividad>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdActividadNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdActividadNavigation.IdActividad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFondosRecaudadosActividad">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFondosRecaudadosActividad">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFondosRecaudadosActividad">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
