@model UCG.Models.TbJuntaDirectiva

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbJuntaDirectiva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodoFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodoFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdActaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdActaNavigation.IdActa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsociacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAsociacionNavigation.IdAsociacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdJuntaDirectiva">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
