@model IEnumerable<UCG.Models.TbJuntaDirectiva>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">

    <table id="miTabla" class="table table-striped table-hover display ">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PeriodoInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PeriodoFin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
               
                <th>
                    @Html.DisplayNameFor(model => model.IdAsociacionNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
                <tr data-id="@item.IdJuntaDirectiva">
                <td>
                        @item.PeriodoInicio
                </td>
                <td>
                        @item.PeriodoFin

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.IdAsociacionNavigation.IdAsociacion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdJuntaDirectiva">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdJuntaDirectiva">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdJuntaDirectiva">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>



<!-- DataTables CSS con Bootstrap -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

@section Scripts {
    @{
        <!-- Tu script separado -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- DataTables JS -->
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
        <script src="~/js/JuntaDirectivaScripts/JuntaDirectivaIndex.js"></script>
    }
}
