@model UCG.Models.TbDetalleChequeFactura

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbDetalleChequeFactura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAcuerdoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAcuerdoNavigation.IdAcuerdo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdChequeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdChequeNavigation.IdCheque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdFacturaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdFacturaNavigation.IdFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMovimientoEgresoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMovimientoEgresoNavigation.IdMovimientoEgreso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDetalleChequeFactura">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
