@using UCG.Models.ViewModels
@using static UCG.Models.TbFolio;
@model FolioViewModel


@{
    ViewData["Title"] = "Crear Folio";
    var asociaciones = ViewBag.IdAsociacion as SelectList ?? new SelectList(Enumerable.Empty<SelectListItem>());
    var asociados = ViewBag.IdAsociado as SelectList ?? new SelectList(Enumerable.Empty<SelectListItem>());
}

<h1 class="text-center mb-4">Crear Folio</h1>
<hr />

<div id="tempDataSwal"
     data-success="@TempData["SuccessMessage"]"
     data-error="@TempData["ErrorMessage"]">
</div>

<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="card shadow">
            <div class="card-header">Información del Folio</div>
            <div class="card-body">
                <form asp-action="Create" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                    <div class="mb-3">
                        <label asp-for="IdAsociacion" class="form-label"></label>
                        @if (!Convert.ToBoolean(ViewBag.EsAdmin))
                        {
                            <select asp-for="IdAsociacion" class="form-select" asp-items="asociaciones">
                                <option disabled selected>Seleccione una asociación</option>
                            </select>
                        }
                        else
                        {
                            <input type="text" class="form-control mb-2" value="@ViewBag.Nombre" disabled />
                            <input type="hidden" asp-for="IdAsociacion" value="@ViewBag.IdAsociacion" />
                        }
                        <span asp-validation-for="IdAsociacion" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="IdAsociado" class="form-label"></label>
                        @if (!Convert.ToBoolean(ViewBag.EsAdmin))
						{
							<!-- Usuario NO es admin → puede elegir -->
                            <select asp-for="IdAsociado" class="form-select" asp-items="asociados" id="IdAsociado">
								<option disabled selected>Seleccione un asociado</option>
							</select>
						}
						else
						{
							<!-- Usuario ES admin → asociación fija -->
                            <select asp-for="IdAsociado" class="form-select" id="IdAsociado">
                                <option disabled selected>Seleccione un asociado</option>
                            </select>
						}
                        <span asp-validation-for="IdAsociado" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="FechaTextoEmision" class="form-label"></label>
                        <input asp-for="FechaTextoEmision" class="form-control" type="date" />
                        <span asp-validation-for="FechaTextoEmision" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="FechaTextoCierre" class="form-label"></label>
                        <input asp-for="FechaTextoCierre" class="form-control" type="date" />
                        <span asp-validation-for="FechaTextoCierre" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="NumeroFolio" class="form-label"></label>
                        <input asp-for="NumeroFolio" class="form-control" />
                        <span asp-validation-for="NumeroFolio" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Estado" class="form-label"></label>
                        <select asp-for="Estado" class="form-select" asp-items="Html.GetEnumSelectList<EstadoDeFolio>()">
                            <option disabled selected>Seleccione un estado</option>
                        </select>
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Descripcion" class="form-label"></label>
                        <textarea asp-for="Descripcion" class="form-control"></textarea>
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-between mt-4">
                        <input type="submit" value="Guardar" class="btn btn-success" />
                        <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const rutasFolio = {
            obtenerAsociados: '@Url.Action("ObtenerAsociadosPorAsociacion", "TbFolios")',
        };
    </script>
    <script src="~/js/FolioScripts/FolioFormHandler.js"></script>
}
