@model UCG.Models.TbActividad

@{
    ViewData["Title"] = "Eliminar Actividad";
}

<h1 class="text-center mb-4">Eliminar Actividad</h1>
<hr />
<div id="tempDataSwal"
     data-success="@TempData["SuccessMessage"]"
     data-error="@TempData["ErrorMessage"]">
</div>
<div class="row justify-content-center">
    <div class="col-lg-5">
        <div class="card shadow">
            <div class="card-header bg-danger text-white">
                Confirmación de Eliminación
            </div>
            <div class="card-body">
                <p class="text-danger">¿Estás seguro de que deseas eliminar esta actividad?</p>

                <dl class="row">
                    <dt class="col-sm-4 mb-3">Nombre</dt>
                    <dd class="col-sm-8 mb-3">@Model.Nombre</dd>

                    <dt class="col-sm-4 mb-3">Fecha</dt>
                    <dd class="col-sm-8 mb-3">@Model.Fecha?.ToString("dd/MM/yyyy")</dd>

                    <dt class="col-sm-4 mb-3">Razón</dt>
                    <dd class="col-sm-8 mb-3">@Model.Razon</dd>

                    <dt class="col-sm-4 mb-3">Lugar</dt>
                    <dd class="col-sm-8 mb-3">@Model.Lugar</dd>

                    <dt class="col-sm-4 mb-3">Observaciones</dt>
                    <dd class="col-sm-8 mb-3">@Model.Observaciones</dd>

                    <dt class="col-sm-4 mb-3">Acta Asociada</dt>
                    <dd class="col-sm-8 mb-3">@Model.IdActaNavigation?.IdActa</dd>

                    <dt class="col-sm-4 mb-3">Asociación</dt>
                    <dd class="col-sm-8 mb-3">@Model.IdAsociacionNavigation?.Nombre</dd>

                    <dt class="col-sm-4 mb-3">Asociado Responsable</dt>
                    <dd class="col-sm-8 mb-3">@Model.IdAsociadoNavigation?.Nombre</dd>
                </dl>

                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="IdActividad" />
                    <div class="d-flex justify-content-between mt-4">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                        <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   
    <script src="~/js/ActividadScripts/ActividadDelete.js"></script>
}