@model UCG.Models.ViewModels.MovimientoEgresoViewModel

@{
    ViewData["Title"] = "Crear Movimiento Egreso";
    var asociaciones = ViewBag.IdAsociacion as SelectList ?? new SelectList(Enumerable.Empty<SelectListItem>());
    var asociados = ViewData["IdAsociado"] as SelectList ?? new SelectList(Enumerable.Empty<SelectListItem>());
    var actas = ViewData["IdActa"] as SelectList ?? new SelectList(Enumerable.Empty<SelectListItem>());
}

<h1 class="text-center mb-4">Crear Movimiento de Egreso</h1>
<hr />

<div id="tempDataSwal"
     data-success="@TempData["SuccessMessage"]"
     data-error="@TempData["ErrorMessage"]"
     >
</div>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="row g-3">
        <div class="col-lg-6">
            <div class="card shadow">
                <div class="card-header">
                    Información del Movimiento
                </div>
                <div class="card-body">
                    <!-- Fecha Egreso -->
                    <div class="mb-3">
                        <label asp-for="FechaTextoEgreso" class="form-label"></label>
                        <input asp-for="FechaTextoEgreso" class="form-control" type="date" />
                        <span asp-validation-for="FechaTextoEgreso" class="text-danger"></span>
                    </div>

                    <!-- Asociación -->
                    <div class="mb-3">
                        <label asp-for="IdAsociacion" class="form-label"></label>
                        @if (Convert.ToBoolean(ViewBag.EsAdmin))
                        {
                            <input type="text" class="form-control mb-2" value="@ViewBag.Nombre" disabled />
                            <input type="hidden" asp-for="IdAsociacion" value="@ViewBag.IdAsociacion" />
                        }
                        else
                        {
                            <select asp-for="IdAsociacion" class="form-select" asp-items="asociaciones" id="IdAsociacion">
                                <option disabled selected>Seleccione una asociación</option>
                            </select>
                        }
                        <span asp-validation-for="IdAsociacion" class="text-danger"></span>
                    </div>

                    <!-- Asociado -->
                    <div class="mb-3">
                        <label asp-for="IdAsociado" class="form-label"></label>
                        <select asp-for="IdAsociado" class="form-select" asp-items="asociados">
                            <option disabled selected>Seleccione un asociado</option>
                        </select>
                        <span asp-validation-for="IdAsociado" class="text-danger"></span>
                    </div>

                    <!-- Acta -->
                    <div class="mb-3">
                        <label asp-for="IdActa" class="form-label"></label>
                        <select asp-for="IdActa" class="form-select" asp-items="actas">
                            <option disabled selected>Seleccione un acta</option>
                        </select>
                        <span asp-validation-for="IdActa" class="text-danger"></span>
                    </div>


                    <!-- Descripción -->
                    <div class="mb-3">
                        <label asp-for="Descripcion" class="form-label"></label>
                        <textarea asp-for="Descripcion" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- CARD: Relación de Cheques y Facturas -->
        <div class="col-lg-6">
            <div class="card h-100 shadow">
                <div class="card-header">
                    Relacionar Cheques y Facturas
                </div>
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="card border-secondary-emphasis shadow">
                                <div class="card-header bg-secondary-emphasis d-flex justify-content-between align-items-center">
                                    <span>Detalle Egreso</span>
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#detailModalEgreso">
                                        Agregar
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-sm" id="detailsTableEgreso">
                                        <thead>
                                            <tr>
                                                <th>No. Cheque</th>
                                                <th>No. Factura</th>
                                                <th>Monto</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End row g-3 -->
                    <!-- Monto -->
                    <div class="mb-3 mt-3">
                        <label asp-for="Monto" class="form-label"></label>
                        <input asp-for="Monto" class="form-control" />
                        <span asp-validation-for="Monto" class="text-danger"></span>
                    </div>
                </div>
                
            </div>
        </div>     
    </div>

    <input type="hidden" id="DetalleChequeFacturaEgresoJason" name="DetalleChequeFacturaEgresoJason" value="@Model.DetalleChequeFacturaEgresoJason" />


    <div class="mt-4">
        <input type="submit" value="Guardar Movimiento" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
    </div>
</form>

<!-- Modal Asistencia -->
<div class="modal fade" id="detailModalEgreso" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-secondary-emphasis">
                <h5 class="modal-title" id="detailModalLabel">Relacion Cheque y Factura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <div class="modal-body">
                <label class="form-label">Acuerdo</label>
                <select id="modalIdAcuerdo" class="form-select">
                    <option value="0" disabled="" selected="">Seleccione un acuerdo</option>
                </select>
            </div>
            <div class="modal-body">
				<label class="form-label">Factura</label>
                <select id="modalIdFactura" class="form-select">
					<option value="0" disabled="" selected="">Seleccione un factura</option>
				</select>
            </div>
            <div class="modal-body">
                <label class="form-label">Cheque</label>
                <select id="modalIdCheque" class="form-select">
                    <option value="0" disabled="" selected="">Seleccione un cheque</option>
                </select>
            </div>
            <div class="modal-body">
				<label class="form-label">Monto</label>
				<input type="number" id="modalMonto" class="form-control" placeholder="Ingrese el monto" />
            </div>

            <div class="mb-3 " id="descripcionAcuerdo">
                <label for="summernoteAcuerdo" class="form-label">Descripción</label>
                <div class="input-group">
                    <span class="input-group-text">Descripcion</span>
                    <textarea id="summernoteAcuerdo" class="form-control" rows="5" required></textarea>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" id="addDetailEgresoBtn" class="btn btn-success">Agregar</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        const rutasMovimientoEgreso = {
            obtenerAsociados: '@Url.Action("ObtenerAsociadosPorAsociacion", "TbMovimientoEgresos")',
            obtenerActas: '@Url.Action("ObtenerActasPorAsociacion", "TbMovimientoEgresos")',
            obtenerAcuerdos: '@Url.Action("ObtenerAcuerdosPorActas", "TbMovimientoEgresos")',
            obtenerCheques: '@Url.Action("ObtenerChequesPorAsociacion", "TbMovimientoEgresos")',
            obtenerFacturas: '@Url.Action("ObtenerFacturasPorAsociacion", "TbMovimientoEgresos")',


        };
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/js/FacturaScripts/FacturaFormHandler.js"></script>
}

