@model UCG.Models.TbMiembroJuntaDirectiva

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbMiembroJuntaDirectiva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsociadoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAsociadoNavigation.IdAsociado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdJuntaDirectivaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdJuntaDirectivaNavigation.IdJuntaDirectiva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPuestoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPuestoNavigation.IdPuesto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMiembrosJuntaDirectiva">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
