@model UCG.Models.TbDetalleMovimiento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbDetalleMovimiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMovimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMovimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Decripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Decripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdInformeEconomico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdInformeEconomico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAcuerdoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAcuerdoNavigation.IdAcuerdo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMovimientoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMovimientoNavigation.IdMovimiento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDetalleMovimiento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
