@model IEnumerable<UCG.Models.TbDetalleMovimiento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Decripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdInformeEconomico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAcuerdoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMovimientoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoMovimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Decripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdInformeEconomico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAcuerdoNavigation.IdAcuerdo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMovimientoNavigation.IdMovimiento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetalleMovimiento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDetalleMovimiento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDetalleMovimiento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
