@model IEnumerable<UCG.Models.TbFactura>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table id="miTabla" class="table table-striped table-hover display">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NumeroFactura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaEmision)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MontoTotal)
                </th>
  
                <th>
                    @Html.DisplayNameFor(model => model.IdAsociacionNavigation)
                </th>
                 <td>Emisor</td>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr data-id="@item.IdFactura">
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroFactura)
                </td>
                <td>
                    @item.FechaEmision.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAsociacionNavigation!.IdAsociacion)
                </td>
                <td>
                    @if (item.IdAsociadoNavigation != null)
                    {
                        <span>Asociado: @item.IdAsociadoNavigation.Nombre</span>
                    }
                    else if (item.IdColaboradorNavigation != null)
                    {
                        <span>Colaborador: @item.IdColaboradorNavigation.Nombre</span>
                    }
                    else if (item.IdProveedorNavigation != null)
                    {
                        <span>Proveedor: @item.IdProveedorNavigation.NombreEmpresa</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdFactura">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdFactura">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdFactura">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
<!-- DataTables CSS con Bootstrap -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

@section Scripts {
    @{
        <!-- Tu script separado -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- DataTables JS -->
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
        <script src="~/js/FacturaScripts/FacturaIndex.js"></script>
    }
}