@model UCG.Models.TbActaAsistencium

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbActaAsistencium</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
			 @Model.Fecha.ToString("dd/MM/yyyy")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsociadoNavigation)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="TbAsociadoes" asp-action="Details" asp-route-id="@Model.IdAsociadoNavigation?.IdAsociado">
                @Model.IdAsociadoNavigation?.Nombre
            </a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdActaAsistencia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
