

@model IEnumerable<UCG.Models.TbConceptoAsociacion>

@{
    ViewData["Title"] = "Concepto de Asociación";
}

<head>
    <meta charset="utf-8">
    <!-- DataTables CSS con Bootstrap -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <!-- Box Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Tu CSS personalizado -->
    <link rel="stylesheet" href="~/css/Tables.css">
</head>

<div id="tempDataSwal"
     data-success="@TempData["SuccessMessage"]"
     data-error="@TempData["ErrorMessage"]">
</div>

<div class="table-container">
    <!-- Encabezado y botón Create -->
    <div class="table-header center-header">
        <div style="width: 100%; text-align: center;">
            <h1 class="table-title" style="margin-bottom: 15px;">Concepto de Asociación</h1>
            <div class="table-actions">

                <a asp-controller="Home" asp-action="Asociacion" class="btn btn-secondary">
                    <i class="fa-solid fa-arrow-rotate-left"></i>
                </a>

                <a asp-action="Create" class="btn btn-create">
                    <i class='bx bx-plus'></i> Crear Concepto de Asociación
                </a>
            </div>
        </div>
    </div>


    <table id="miTabla" class="universal-table display compact">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAsociacionNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdConceptoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionPersonalizada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr data-id="@item.IdConceptoAsociacion">
            <td>
                @Html.DisplayFor(modelItem => item.IdAsociacionNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdConceptoNavigation.Concepto)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionPersonalizada)
                </td>
                    <td class="action-links text-end">
                        <a asp-action="Edit" asp-route-id="@item.IdConceptoAsociacion" class="btn btn-secondary" title="Editar">
                            <i class="fa-solid fa-pen"></i>
                        </a>

                        <a asp-action="Details" asp-route-id="@item.IdConceptoAsociacion" class="btn btn-secondary" title="Detalles">
                            <i class='bx bxs-detail'></i>
                        </a>

                        <a asp-action="Delete" asp-route-id="@item.IdConceptoAsociacion" class="btn btn-create" title="Eliminar">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

@section Scripts {
    @{
        <!-- Tu script separado -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- DataTables JS -->
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

        <script src="~/js/ConceptoAsociacionScripts/ConceptoAsociacionIndex.js"></script>
    }
}
