@model UCG.Models.TbActum

@{
    ViewData["Title"] = "Eliminar Acta";
}

<h1 class="text-center mb-4">Eliminar Acta</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-lg-4">
        <div class="card shadow">
            <div class="card-header bg-danger text-white">
                Confirmación de Eliminación
            </div>
            <div class="card-body">
                <p class="text-danger">¿Estás seguro de que deseas eliminar este acta?</p>

                <dl class="row">
                    <dt class="col-sm-4 mb-3">Fecha de Sesión</dt>
                    <dd class="col-sm-8 mb-3">@Model.FechaSesion.ToString("dd/MM/yyyy")</dd>

                    <dt class="col-sm-4 mb-3">Número de Acta</dt>
                    <dd class="col-sm-8 mb-3">@Model.NumeroActa</dd>

                    <dt class="col-sm-4 mb-3">Descripción</dt>
                    <dd class="col-sm-8 mb-3">@Model.Descripcion</dd>

                    <dt class="col-sm-4 mb-3">Estado</dt>
                    <dd class="col-sm-8 mb-3">@Model.Estado</dd>


                    <dt class="col-sm-4 mb-3">Asociación</dt>
                    <dd class="col-sm-8 mb-3">@Model.IdAsociacionNavigation?.Nombre</dd>

                    <dt class="col-sm-4 mb-3">Asociado</dt>
                    <dd class="col-sm-8 mb-3">@Model.IdAsociadoNavigation?.Nombre</dd>
                </dl>

                <form asp-action="Delete" method="post">
                    <input type="hidden" asp-for="IdActa" />
                    <div class="d-flex justify-content-between mt-4">
                        <button type="button" class="btn btn-danger" id="btnConfirmDelete">Eliminar</button>
                        <a asp-action="Index" class="btn btn-secondary ms-2">Cancelar</a>
                    </div>
                </form>

                 @section Scripts {
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    <script src="~/js/ActaScripts/ActaDelete.js"></script>
                }
            </div>
        </div>
    </div>
</div>
