@using UCG.Models.ViewModels;
@using static UCG.Models.TbActum;
@model ActaViewModel;

@{
    ViewData["Title"] = "Edit";
    var asociaciones = ViewBag.IdAsociacion as SelectList ?? new SelectList(Enumerable.Empty<SelectListItem>());
    var asociados = ViewData["IdAsociado"] as SelectList ?? new SelectList(Enumerable.Empty<SelectListItem>());
    var folios = ViewData["IdFolio"] as SelectList ?? new SelectList(Enumerable.Empty<SelectListItem>());
}

<h1>Editar Acta</h1>

<hr />
<div id="tempDataSwal"
     data-success="@TempData["SuccessMessage"]"
     data-error="@TempData["ErrorMessage"]"
     >
    
</div>
<form asp-action="Edit" data-mode="Edit">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="IdActa" />

    <div class="row g-3 mb-4">
        <!-- CARD 1: Información del Acta -->
        <div class="col-lg-6">
            <div class="card h-100 shadow">
                <div class="card-header">
                    Información del Acta
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label asp-for="IdAsociacion" class="form-label"></label>
                        <select asp-for="IdAsociacion" class="form-select" asp-items="asociaciones" >
                            <option disabled selected>Seleccione una asociación</option>
                        </select>
                        <span asp-validation-for="IdAsociacion" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="IdAsociado" class="form-label"></label>
                        <select asp-for="IdAsociado" class="form-select" asp-items="asociados" id="IdAsociado">
                            <option disabled selected>Seleccione un asociado</option>
                        </select>
                        <span asp-validation-for="IdAsociado" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="IdFolio" class="form-label"></label>
                        <select asp-for="IdFolio" class="form-select" asp-items="folios" id="IdFolio">
                            <option disabled selected>Seleccione un folio</option>
                        </select>
                        <span asp-validation-for="IdFolio" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Tipo" class="form-label"></label>
                        <select asp-for="Tipo" class="form-select" asp-items="Html.GetEnumSelectList<TipoDeActa>()">
                            <option value="" disabled selected>Seleccione un tipo de acuerdo</option>
                        </select>

                        <span asp-validation-for="Tipo" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="FechaSesionTexto" class="form-label"></label>
                        <input asp-for="FechaSesionTexto" class="form-control" type="date" id="FechaSesionTexto" />
                        <span asp-validation-for="FechaSesionTexto" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="NumeroActa" class="form-label"></label>
                        <input asp-for="NumeroActa" class="form-control" />
                        <span asp-validation-for="NumeroActa" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Descripcion" class="form-label"></label>
                        <input asp-for="Descripcion" class="form-control" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Estado" class="form-label"></label>
                        <select asp-for="Estado" class="form-select" asp-items="Html.GetEnumSelectList<EstadoDeActa>()">
                            <option disabled selected>Seleccione un estado</option>
                        </select>
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>

                </div>
            </div>
        </div>

        <!-- CARD 2: Relacionados (Asistencias y Acuerdos) -->
        <div class="col-lg-6">
            <div class="card h-100 shadow">
                <div class="card-header">
                    Relacionados
                </div>
                <div class="card-body">

                    <div class="row g-3">
                        <!-- Mini Card de Asistencias -->
                        <div class="col-12">
                            <div class="card borde-secondary-emphasis shadow">
                                <div class="card-header bg-secondary-emphasis d-flex justify-content-between align-items-center">
                                    <span>Asistencias</span>
                                    <button type="button" class="btn btn-primary btn-sm" id="detailModalAsistenciaEdit">
                                        Agregar
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-sm" id="detailsTableAsistencia">
                                        <thead>
                                            <tr>
                                                <th>Fecha</th>
                                                <th>Asociado</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <!-- Mini Card de Acuerdos -->
                        <div class="col-12">
                            <div class="card border-secondary-emphasis shadow">
                                <div class="card-header bg-secondary-emphasis d-flex justify-content-between align-items-center">
                                    <span>Acuerdos</span>
                                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#detailModalAcuerdo">
                                        Agregar
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table class="table table-bordered table-sm" id="detailsTableAcuerdo">
                                        <thead>
                                            <tr>
                                                <th>Tipo</th>
                                                <th>Nombre</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div> <!-- End row g-3 -->
                </div>
            </div>
        </div>
    </div>

    <!-- Botones Finales -->
    <div class="mt-4">
        <input type="submit" value="Editar" class="btn btn-warning" />
        <a asp-action="Index" class="btn btn-secondary ms-2">Volver</a>
    </div>

    <input type="hidden" id="ActaAsistenciaJason" name="ActaAsistenciaJason" value='@Html.Raw(Model.ActaAsistenciaJason)' />
    <input type="hidden" id="ActaAcuerdoJason" name="ActaAcuerdoJason" value='@Html.Raw(Model.ActaAcuerdoJason)' />

</form>

<!-- Modal Acuerdo -->
<div class="modal fade" id="detailModalAcuerdo" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModalLabel">Acuerdo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <!-- Campo para el nombre del acuerdo -->
                <div class="mb-3">
                    <label for="nombreAcuerdo" class="form-label">Nombre del Acuerdo</label>
                    <input type="text" class="form-control" id="nombreAcuerdo" placeholder="Ingrese el nombre del acuerdo" required>
                </div>

                <!-- Tipo de Acuerdo -->
                <div class="mb-3">
                    <label for="tipoAcuerdo" class="form-label">Tipo de Acuerdo</label>
                    <select class="form-select" id="tipoAcuerdo" required>
                        <option disabled selected>Seleccione un tipo</option>
                        <option value="1">Compra</option>
                        <option value="2">Pago</option>
                        <option value="3">Ordinario</option>
                    </select>
                </div>


                <!-- Campo para la descripcion del acuerdo -->

                <div class="mb-3 " id="descripcionAcuerdo">
                    <label for="summernoteAcuerdo" class="form-label">Descripción</label>
                    <div class="input-group">
                        <span class="input-group-text">Descripcion</span>
                        <textarea id="summernoteAcuerdo" class="form-control" rows="5" required></textarea>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" id="addDetailAcuerdoBtn" class="btn btn-success">Agregar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

    <script>
        const rutasMovimiento = {
            obtenerAsociados: '@Url.Action("ObtenerAsociadosPorAsociacion", "TbActums")',
            obtenerFolios: '@Url.Action("ObtenerFoliosPorAsociacion", "TbActums")',
        };
    </script>

    <script src="~/js/ActaScripts/ActaFormH.js"></script>
}
